.header {
   display: flex;
   padding-bottom: 27.5px;
   align-items: center;
   justify-content: space-between;
   
}

.buttons{
   display: flex;
   gap: 10px;
}

@media (max-width: 820px) {
   .header{
      flex-direction: column;
      gap: 30px;
   }
}
@media (max-width: 375px) {
   .header{
      gap: 15px;
      padding-bottom: 15px;
   }
 }